<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4">Bienvenue sur l'administration de Oquiz</h2>
    <p class="lead">
        Depuis cette page, retrouvez vos options d'administration
    </p>

    <a class="btn btn-primary btn-large" href="/admin/user" role="button">Gérer les utilisateurs</a>

    <a class="btn btn-primary btn-large" href="/admin/level" role="button">Gérer les niveaux</a>
</div>
<%- include('partials/footer') %>